body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte cursiva fofinha */
    background-color: #FEE3EC; /* Tom pastel suave */
    color: #F16590; /* Cor das letras */
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza o texto */
}

header {
    background-color: #FFD1DC; /* Fundo pastel para o cabeçalho */
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #F16590; /* Cor das letras dos links */
    font-size: 18px;
    font-weight: bold;
}

section h2 {
    font-size: 24px;
    margin-top: 30px;
    font-family: 'Pacifico', cursive; /* Fonte cursiva fofinha */
}

section {
    margin-bottom: 50px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    flex-wrap: wrap; /* Para fotos responsivas */
}

.galeria img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Deixa as imagens redondas */
    border: 3px solid #F16590; /* Bordas fofinhas nas imagens */
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

footer {
    background-color: #FFD1DC; /* Fundo pastel para o rodapé */
    padding: 10px;
    font-size: 14px;
}
